@page
@model servicio.cliente.Pages.ComplejoDeportivoModel
@{
    ViewData["Title"] = "Complejo Deportivo";
}


@section StyleCSS
{
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" />
}

<div class="text-center">
    <h1 class="display-4">Complejos Deportivos</h1>
</div>

<partial name="ComplejoDeportivo/_ModalFormulario.cshtml" />
<partial name="ComplejoDeportivo/_ModalDetalle.cshtml" />
<partial name="ComplejoDeportivo/_ModalAlertas.cshtml" />
<partial name="ComplejoDeportivo/_ModalTablaDatos.cshtml" />


@section Scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="~/js/complejo_deportivo/ModalAlertas.js" asp-append-version="true"></script>
    <script src="~/js/complejo_deportivo/app.js" asp-append-version="true"></script>
}