<div class="modal fade" id="modalMansaje" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p id="mensaje-icono" class="text-center mb-4"></p>
                <p id="mensaje-detalle" class="text-center" style="font-size: 24px;">Transaccion Exitosa</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="alert" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="confirmacion-detalle" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="ModalConfirmarConfirmacion()" id="boton-confirmacion">Eliminar</button>
            </div>
        </div>
    </div>
</div>